  <div id="page">
           <h1>About us</h1>
           <p>Event union is an online service that
            everyone can use to create and share events to the whole world.
            Event union makes all events happen.
            We help people discover events that match their passions.
            We allow every events created to be shared to people around the world.</p>
  </div>
