<div id="page"><h1>Contact Us</h1>
<p> Feel free to speak to us. We are always ready to listen to all voices of customers.</p>
<h3>Tell us more, so we can serve you better:</h3>
                    <span class="required">* Required</span>

                    <form method="get" name="contactUsForm" id="contactus_form" action="eseosaoshodin@yahoo.com" enctype="text/plain">
                        <div style='display:none'><input type='hidden' name='csrfmiddlewaretoken' value='49acb470a24594ba212cff2113f859e1'/></div>
                        <input data-check="{}" type="hidden" name="locale" value="en_us" id="id_locale" />
                        <input data-check="{}" type="hidden" name="application_type" value="web" id="id_application_type" />
                        <ul>

                            <li class="">
                                <label for="iam">I am:</label>
                                <select data-check="{}" class="select_question" name="iam" id="iam">
<option value="" selected="selected"> -- Select One -- </option>
<option value="organizing_an_event">an Event Organizer</option>
<option value="attending_an_event">an Event Attendee</option>
<option value="other">Other</option>
</select>
                            </li><br/>

<li class="">
                                <label for="category">Category of my question</label>
                                <select data-check="{}" class="select_question" name="category" id="category">
<option value="" selected="selected"> -- Select One -- </option>
<option value="login_and_password">Login and password</option>
<option value="event_page_design">Event page design</option>
<option value="fees_payments_and_invoices">Fees, payments and invoices</option>
<option value="collecting_and_viewing_attendee_info">Collecting and viewing attendee info</option>
<option value="promoting_an_event">Promoting an event</option>
<option value="management_tools">Management tools</option>
<option value="organizing_a_large_event">Sales - I am organizing a large event</option>
<option value="unable_to_register">Unable to register</option>
<option value="order_confirmation_tickets">Order confirmation / Tickets</option>
<option value="details_about_an_event">Details about an event</option>
<option value="category_refund">Refund</option>
<option value="category_unsubscribe">Unsubscribe</option>
<option value="category_other">Other</option>
</select>
                            </li><br/>

<li class="namefield " id="row_first_name">
                                <label for="id_first_name">First name:<span class="required">*</span></label>
                                <input data-check="{&quot;max_length&quot;: {&quot;args&quot;: [64], &quot;when&quot;: &quot;submit&quot;}, &quot;required&quot;: {&quot;when&quot;: &quot;submit&quot;}, &quot;min_length&quot;: {&quot;args&quot;: [2], &quot;when&quot;: &quot;submit&quot;}}" name="first_name" maxlength="64" type="text" class="first_name" id="id_first_name" />
                            </li><br/>

                            <li class="namefield " id="row_last_name">
                                <label for="id_last_name">Last name:<span class="required">*</span></label>
                                <input data-check="{&quot;max_length&quot;: {&quot;args&quot;: [64], &quot;when&quot;: &quot;submit&quot;}, &quot;required&quot;: {&quot;when&quot;: &quot;submit&quot;}, &quot;min_length&quot;: {&quot;args&quot;: [2], &quot;when&quot;: &quot;submit&quot;}}" name="last_name" maxlength="64" type="text" class="last_name" id="id_last_name" />
                            </li><br/>

                            <li class="" id="row_email">
                                <label for="id_email">Email address:<span class="required">*</span></label>
                                <input data-check="{&quot;max_length&quot;: {&quot;args&quot;: [255], &quot;when&quot;: &quot;submit&quot;}, &quot;required&quot;: {&quot;when&quot;: &quot;submit&quot;}, &quot;valid_email&quot;: {&quot;when&quot;: &quot;submit&quot;}, &quot;min_length&quot;: {&quot;args&quot;: [6], &quot;when&quot;: &quot;submit&quot;}}" name="email" maxlength="255" type="text" class="default_long" id="id_email" />
                            </li><br/>

                            <li class="">
                                <label for="id_event_name">Event name / URL:</label>
                                <input data-check="{&quot;max_length&quot;: {&quot;args&quot;: [255], &quot;when&quot;: &quot;submit&quot;}}" name="event_name" maxlength="255" type="text" class="default_long" id="id_event_name" />
                            </li><br/>

                            <li class="">
                                <label for="id_subject">Subject:<span class="required">*</span></label>
                                <input data-check="{&quot;max_length&quot;: {&quot;args&quot;: [255], &quot;when&quot;: &quot;submit&quot;}, &quot;required&quot;: {&quot;when&quot;: &quot;submit&quot;}, &quot;min_length&quot;: {&quot;args&quot;: [3], &quot;when&quot;: &quot;submit&quot;}}" name="subject" maxlength="255" type="text" class="default_long" id="id_subject" />
                            </li><br/>

                            <li class="">
                                <label for="id_message" id="label_id_message">Details:<span class="required">*</span></label>
                                <textarea data-check="{&quot;min_length&quot;: {&quot;args&quot;: [3], &quot;when&quot;: &quot;submit&quot;}, &quot;required&quot;: {&quot;when&quot;: &quot;submit&quot;}}" rows="10" name="message" id="id_message" cols="40" class="textarea_long"></textarea>
                            </li><br/>

                            <li>
                                <button type="submit" id="contactus_submit" class="action_button action_button_go">
                                    Contact Us
                                </button>
                            </li><br/>

                        </ul>

                    </form></div>


