<div id="page">
    <h1>Event union</h1>
    <p>Event Union is an incredibly powerful.
    As you've stumbled on it, you shall have a great experience with us. All pictures taken reveal the whole story of an event.</p><br/>
    <div id="content1"><h3>Events</h3>
    One might think a meld of various black-and-white patterns would &lsquo;
    fight&rsquo; each other,&quot; she says. &quot;But in fact, what they do is create a synergy
    and an energy that keeps the theme</div>
    <div id="content2"><h3>Magazine</h3>
    As the economy gets better and audiences grow bigger,
    event entertainment experts in three big markets take a look at what acts are hits
    and which are exiting stage left....</div>
    <div id="content3"><h3>Music</h3>
    Get the latest mp3 music for download black-and-white patterns would &lsquo;
    fight&rsquo; each other,&quot; she says. &quot;But in fact,
    what they do is create a synergy and an energy that keeps</div>
    <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
  </div>