<header class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <%= image_tag("eu.png", :alt => "EU", :id => "logo") %> 
        <nav class= "round">
          <ul class= "nav pull-right">
            <li><%= link_to "Home", home_path %></li>
            <li><%= link_to "Help", help_path %></li>
            <li><a href="/sign_in">Sign in</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </header>